
run = "node start-prod.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[deployment]
run = "node start-prod.js"
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3333
externalPort = 80
