modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
buildCommand = "npm run build"
run = ["sh", "-c", "node dist/server/index.js"]
build = ["sh", "-c", "node build-for-deploy.js --max-old-space-size=2048"]

[[ports]]
localPort = 80
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3333
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 24678
externalPort = 3002

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Server"
author = 17917355
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run client:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
